<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改头像</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
     <link rel="stylesheet" href="{% static 'css/uploadImage.css' %}">

</head>
<body>
    <div class="container">
        <h1>修改头像</h1>
        <form enctype="multipart/form-data" autocomplete="off" method="post" action="{% url 'upload_user_image' %}">
            <input type="file" name="image" />
            <input type="submit" value="Save">
            {% csrf_token %}
        </form>
    </div>

    <script src="{% static 'js/message.js' %}"></script>
</body>
</html>
