{% extends 'base2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static  'css/write.css' %}"/>
    <link href="{% static  'css/index.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static  'css/course-comment.css' %}"/>
{% endblock %}

{% block content %}
    <div class="editor-container">
    <h1>文章编写</h1>
    <form method="post" action="{% url 'writes' %}">
        {% csrf_token %}
        <input type="text" id="title" name="title" placeholder="请输入标题">
        <input type="text" id="simple_content" name="simple_content" placeholder="请输入简介">
        <textarea id="content" name="content" placeholder="请输入文章内容..."></textarea>
        <button>提交</button>
    </form></div>
{% endblock %}


{% block js %}
    <script src="{% static  'js/message.js' %}"></script>
{% endblock %}
